{% extends 'index.html' %}

{% block foot %}
<script src="/components/php-date-formatter/js/php-date-formatter.min.js"></script>
<script src="/scripts/feed.js"></script>
{% endblock %}

{% block body %}
<div
  class="row">
  <h1
    class="title">
    <a href="/">
      {{ siteTitle }}
    </a>
  </h1>
  {% if !photosets.length %}
  <div
    class="column">
    <p>Your blog is empty. Did you configured correctly in <a href="/settings">settings</a> ?</p>
  </div>
  {% else %}
  <div
    class="row home-photosets">
    {% if previousPage %}
    <p
      class="column small-12 previous">
      <a
        href="{{ previousPage }}"
        data-pagination-previous="{{ previousPage }}.json">Previous</a>
    </p>
    {% endif %}
    <div data-component="home-photosets">
      {% for photoset in photosets %}
      <article
        class="column small-12 medium-6 large-4 home-photoset"
        data-component="photoset">
        <div
          class="cover {{ photoset.cover.orientation }}"
          style="background-image: url('{{ photoset.cover.getSrc('m') }}')"
          data-component-attribute-style="background-image: url('\{\{ photoset.cover.getSrc('m') \}\}')"
          data-component-attribute-class="cover \{\{ photoset.cover.orientation \}\}"></div>
        <p
          class="home-photoset-date">
          <time
            datetime="{{ photoset.date_create }}"
            data-component-attribute-datetime="\{\{ photoset.date_create \}\}"
            data-component-value="\{\{ photoset.date_create|date('d M') \}\}">
            {{ photoset.date_create|date('d M') }}
          </time>
        </p>
        <div
          class="home-photoset-details">
          <h2
            class="home-photoset-title">
            <a
              href="{{ photoset.getUrl() }}"
              data-component-attribute-href="\{\{ photoset.getUrl() \}\}"
              data-component-value="\{\{ photoset.title \}\}">
              {{ photoset.title }}
            </a>
          </h2>
          <div
            class="home-photoset-count"
            data-component-value="\{\{ photoset.count \}\} photos">{{ photoset.count }} photos</div>
        </div>
      </article>
      {% endfor %}
    </div>
    {% if nextPage %}
    <p
      class="column small-12 next">
      <a
        href="{{ nextPage }}"
        data-pagination-next="{{ nextPage }}.json">Next</a>
    </p>
    {% endif %}
  </div>
  {% endif %}
</div>
{% endblock %}
