/* Common */
body {
  background: #eee;
}
.photoset-cover {
  position: fixed;
  height: 100vh;
  width: 100%;
  background-size: 100%;
  opacity: .2;
  -webkit-filter: blur(10px); 
  -moz-filter: blur(10px); 
  filter: blur(10px); 
}

header {
  overflow: hidden;
}

/* Home */
.row.home-photosets {
  margin: 0;
}
.home-photosets .previous,
.home-photosets .next {
  padding: 0;
  margin: 0;
}
.home-photosets .previous a,
.home-photosets .next a {
  display: block;
  width: 100%;
  height: .5em;
  overflow: hidden;
  text-transform: uppercase;
  text-align: center;
  font-size: 3em;
  line-height: .5em;
  color: gray;
}
.home-photoset {
  height: 25em;
  color: white;
  font-size: 10px;
  position: relative;
  overflow: hidden;
  padding: 0;
  cursor: pointer;
}
.home-photoset .cover {
  width: 100%;
  height: 100%;
  background-position: center center;
  box-shadow: 0 0 2px rgba(0,0,0,.2);

  transition: filter .2s ease-in;
  -webkit-transition: -webkit-filter .2s ease-in;
  -moz-transition: -moz-filter .2s ease-in;
}
.home-photoset:hover .cover {
  -webkit-filter: blur(5px); 
  -moz-filter: blur(5px); 
  filter: blur(5px); 
}
.home-photoset-date {
  font-size: 4em;
  text-shadow: -1px -1px 1px rgba(0,0,0,.2), 1px 1px 1px rgba(0,0,0,.1);
  position: absolute;
  top: 0;
  left: .5em;
  color: white;
  transition: color .2s ease-in;
}
.home-photoset:hover .home-photoset-date {
  color: rgba(255,255,255,.4);
}
.home-photoset-details {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: rgba(0,0,0,.4);
  height: 12.5em;
  transition: top .2s ease-in;
  padding: 5px;
}
.home-photoset-title {
  font-size: 2em;
  position: absolute;
  bottom: 0;
}
.home-photoset-title a {
  color: white;
  font-size: 1.3em;
}
.home-photoset:hover .home-photoset-details {
  top: 12.5em;
}
.home-photoset-count {
  position: absolute;
  top: 1em;
  right: 1em;
  font-size: 1.3em;
}
/* Photoset */
.photoset .description {
  color: gray;
}
#gallery figure {
  display: inline-block;
  padding: 0;
  margin: 0;
}
#gallery figure a {
  display: inline-block;
  position: relative;
  width: 100%;
  padding: 5px;
}
.js .img-placeholder {
  width: 100%;
  display: inline-block;
  background: url('/images/ajax-loader.gif') no-repeat center center;
}
#gallery figure a span,
#gallery figure a img {
  transition: opacity .2s ease-in;
}
#gallery figure a.displayed .img-placeholder {
  opacity: 0;
}
#gallery figure img {
  padding: 5px;
  margin: 0;
  background: white;
  border: 1px solid rgba(0,0,0,.1);
  width: 100%;
}
.js #gallery figure img {
  opacity: 0
}
#gallery figure a.displayed img {
  opacity: 1;
}
#gallery figure.full-width {
  width: 98%;
}

#gallery figure.clear {
  clear: both;
}
#gallery figcaption {
  display: none;
}
.share-iframe {
  display: inline-block;
  vertical-align: top;
}

@media screen and (max-width: 640px) {
  .photoset-cover {
    display: none;
  }
}
@media screen and (max-width: 1000px) {
  #gallery {
    overflow: hidden;
  }
  .photoset .pagination-top {
    display: none;
  }
}

.main-section footer {
  text-align: center;
  opacity: .6;
  transition: opacity .2s ease-in;
}
.main-section footer:hover {
  opacity: 1;
}
